.headerMenu .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.headerMenu__nav {
	display: flex;
}


/* responsive */
@media(max-width: 768px) {
	.headerMenu .container {
		flex-direction: column;
		align-items: initial;
		text-align: center;
	}

	.headerMenu__nav {
		flex-direction: column;
	}

	.headerMenu__nav__link__app {
		order: -1;
	}

}
